<div class="ag-format-container">
  <div class="ag-courses_box">
    <div class="ag-courses_item">
      <a href="#" class="ag-courses-item_link">
        <div class="ag-courses-item_bg"></div>

        <div class="ag-courses-item_title">
          Temperatura
        </div>

        <div class="ag-courses-item_date-box">
          Valor leído:
          <span class="ag-courses-item_date">
            {{temp}} C*
          </span>
        </div>
      </a>
    </div>

    <div class="ag-courses_item">
      <a href="#" class="ag-courses-item_link">
        <div class="ag-courses-item_bg"></div>

        <div class="ag-courses-item_title">
          Humedad
        </div>

        <div class="ag-courses-item_date-box">
          Valor leído:
          <span class="ag-courses-item_date">
            {{humedad}} %
          </span>
        </div>
      </a>
    </div>

    <div class="ag-courses_item">
      <a href="#" class="ag-courses-item_link">
        <div class="ag-courses-item_bg"></div>

        <div class="ag-courses-item_title">
          Calidad del aire
        </div>

        <div class="ag-courses-item_date-box">
          Valor leído:
          <span class="ag-courses-item_date">
            {{aire}} AQI
          </span>
        </div>
      </a>
    </div>
  </div>
</div>